html, body {
  background-color: #232136;
  color: #e0def4;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Fira Code";
}

.App {
  &__core {
  }
}

.HowTo {
  &__guide {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border-radius: 1rem;
    border: 1px solid #9ccfd8;
    padding: 1rem;
    max-width: 20rem;
  }
  &__image {
    &--avatar {
      border-radius: 1rem;
      width: 4rem;
      margin-left: 1rem;
    }
  }
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &__heading {
    color: #eb6f92;
    font-weight: 100;
    font-family: Antonio;
    text-transform: uppercase;
    font-size: 1.6rem;
  }
  &__steps {
    font-size: 1rem;
  }
  &__step-link {
    color: #eb6f92;
    text-decoration: none;
  }
}
